* {
    margin: 0px;
    box-sizing: border-box;
}

[class^="col"] {
    /*border: 1px solid black;*/
    float: left;
    width: 100%;
}
.linha::after {
    clear: both;
    content: " ";
    display: block;
}
/*dm é para dispositivo médio*/
@media screen and (min-width: 600px) {
    .col-dm-1 {width: 8.33%;}
    .col-dm-2 {width: 16.66%;}
    .col-dm-3 {width: 25%;}
    .col-dm-4{width: 33.33%;}
    .col-dm-5{width: 41.66%;}
    .col-dm-6{width: 50%;}
    .col-dm-7{width: 58.33%;}
    .col-dm-8{width: 66.66%;}
    .col-dm-9{width: 75%;}
    .col-dm-10{width: 83.33%;}
    .col-dm-11{width: 91.66%;}
    .col-dm-12{width: 100%;}
}
/*dg é para dispositivo grande*/
@media screen and (min-width: 1000px) {
    .col-dg-1 {width: 8.33%;}
    .col-dg-2 {width: 16.66%;}
    .col-dg-3 {width: 25%;}
    .col-dg-4{width: 33.33%;}
    .col-dg-5{width: 41.66%;}
    .col-dg-6{width: 50%;}
    .col-dg-7{width: 58.33%;}
    .col-dg-8{width: 66.66%;}
    .col-dg-9{width: 75%;}
    .col-dg-10{width: 83.33%;}
    .col-dg-11{width: 91.66%;}
    .col-dg-12{width: 100%;}
}


